body {
 background-image: url("sunset.jpg");
 background-color: #cccccc;
}
.otsikko{
  width:70%;
  margin:auto;
  background-color:aliceblue;
  color:blue;
  border:1px dotted black;
}

.opinnot{
  width:70%;
  margin:auto;
  background-color:darkred;
  color:white;
  border:1px solid black;
}
.taidot{
  width:70%;
  margin:auto;
  background-color:darkorange;
  color:black;
  border:1px dotted black;
}
.kiinnostus{
  width:70%;
  margin:auto;
  background-color:red;
  color:white;
  border:1px double black;
}
.yhteys{
  width:70%;
  margin:auto;
  background-color:black;
  color:blanchedalmond;
  border:1px solid black;
}
.nappulas{
  color:white;
  background-color:rgb(0, 0, 0);
  padding:10px;
 border:none;
  }
  .nappulas:hover{
  background-color:rgb(255, 0, 0);
  color:white;
  }
.nappulas{
  float:left;
  width:10%;
  border:2px solid black;
  padding:10px;
  box-sizing: border-box;

}
.nappulas{
  position:fixed;
  top:100px;
  left:0px;